.panorama {
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab; /*grabbing*/
}
.panorama-view img {
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.panorama-pagination { text-align: center; }